/*FORMULARIO*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}

:root{
    --rosadito: #FC887B;
    --lila: #CCAADA;
    --celestito: #8DCFC4;
    --grisecito: #F6F7FB;
}

/*CONTACTAME*/

.container-formulario{
    background-color: var(--grisecito);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    height: 140vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



.box-column-contactame{
    background-color: var(--rosadito);
    display: flex;
    
}

.box-contact{
    background-color: #FC887B;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.parrafo-contact{
    background-color: aquamarine;
}

/*REDES SOCIALES*/
.box-redes-sociales{
    background-color: cadetblue;
}

.box-items-redes{
    background-color: darkgoldenrod;
}

.box-twiter{
    background-color: grey;
}

.box-git-hub{
    background-color: hotpink;
}

.box-linkedin{
    background-color: indianred;
}

.box-email{
    background-color: lightblue;
}

/*ESCRIBIME*/
.container-escribime{
    background-color: var(--celestito);
    display: flex;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form-escribime{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
}