/*SECCION-FORMULARIO*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}

:root{
    --rosadito: #FC887B;
    --lila: #CCAADA;
    --celestito: #8DCFC4;
    --grisecito: #F6F7FB;
    --turquesa: #86E3CE; 
    --rosita: #F6C9B2;
    --gris: #DDD6F8;
    --violet: #424975;
    }

/*CONTACTAME*/

.container-formulario{
    background-color: var(--rosita);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    height: 140vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.box-formulario{
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 100vh;
    background-color: var(--gris);
    display: flex;
    border: 1px solid var(--violet);
    border-radius: 20px;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 8%;
    
}

.box-contact{
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
}

.title-contact{
    display:flex;
    justify-content: flex-start;
    width: 40vw;
    font-size: 50px;
    padding-top: 50px;
    font-family: 'Indie Flower', cursive;
    color: var(--violet);
}

.parrafo-contact{
    display: flex;
    justify-content: center;
    width: 25vw;
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
}

/*REDES SOCIALES-ICONOS*/

.box-li-redes{
    list-style: none;
}

.text-redes{
    text-decoration: none;
    font-family: 'Mukta', sans-serif;
    color: var(--violet);
    font-size: 18px;
}

.icon-redes{
    font-size: 20px;
    color: var(--violet);
    padding-right: 23px;
}

/*ESCRIBIME*/
.box-form{
    display: flex;
    width: 40vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.title-escribime{
    display:flex;
    justify-content: flex-start;
    width: 40vw;
    font-size: 50px;
    padding-top: 50px;
    font-family: 'Indie Flower', cursive;
    color: var(--violet) ; 
}

.form-escribime{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    width: 40vw;
   /* font-family: 'Mukta', sans-serif;*/

    padding-top: 20px;

}

.box-name-lastname{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text-name-lastname, .text-mail{
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
}


.input-lastname, .input-firtsname{
    width: 12vw;
    height: 5vh;
    background-color: transparent;
    padding-left: 10px;
    color: var(--violet);
    border-radius: 20px;
}

.box-mail, .box-message{
    padding-left: 20px;
}

.input-email{
    width: 30vw;
    height: 5vh;
    background-color: transparent;
    padding-left: 10px;
    border-radius: 20px;
}

.text-message{
    display: flex;
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    align-items: flex-start;
}

.textarea-message{
    background-color: transparent;
    width: 36vw;
    height: 30vh;
    font-family: 'Mukta', sans-serif;
    padding-left: 10px;
    color: var(--violet);
    font-size: 15px;
    border-radius: 20px;
}


/*BUTTON*/

.button-end{
    border: 3px solid  var(--violet) ;
    border-radius: 25px;
    list-style: none;
    width: 150px;
    height: 65px;
    font-family: 'Grandstander', cursive;
    font-size: 20px;
    margin: 10px;
    background-color: var(--rosita); 
    
}

.text-button-end{
    text-decoration: none;
    color: var(--violet);
}

/*HOVER*/

.icon-redes:hover{
    font-size: 23px;
    background-color: var(--violet);
    color: wheat;
    border-radius: 50px;
    padding: 9px;
}

.text-button-end:hover{
    color: whitesmoke;
}

.button-end:hover{
    background-color: var(--rosadito);
    width: 154px;
    height: 69px;
}