
.box-the-end{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: lightcoral;
    align-items: center;
    color: #ffffff;
    padding: 100px 30px 80px;
    width: 100vw;
}

/*CLASES GENERALES*/
.ul-the-end{
   display: flex;
    padding: 40px;
}

.li-the-end{
    color: #ffffff;
    list-style: none;
    margin: 0px 15px;
}


/*ESTILOS A LOS TEXTOS*/

.a-the-end{
    text-decoration: none;
    font-family: 'Grandstander', cursive;
    color: plum;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 30%;
    border: 3px solid var(--celestito);
    font-size: 20px;
}

.p-footer-gri{
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    background-color: var(--celestito);
    padding: 10px;
    border-radius: 40%;
}

/*Icono*/
.i-the-end{
    font-size: 2.5rem;
    background-color:#ffffff;
    border-radius: 30%;
    padding: 10px;
    color: plum;
}

