:root{
    --rosadito: #FC887B;
    --lila: #CCAADA;
    --celestito: #8DCFC4;
    --amarillito: #FFDD95;
    --turquesa: #86E3CE; 
    --rosita: #F6C9B2;

}


.box-the-end{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--rosadito);
    align-items: center;
    color: #ffffff;
    height: 60%;
    
    
}

/*CLASES GENERALES*/
.ul-the-end{
   display: flex;
    padding: 40px;
}

.li-the-end{
    color: #ffffff;
    list-style: none;
    margin: 0px 15px;
}


/*ESTILOS A LOS TEXTOS*/

.a-the-end{
    text-decoration: none;
    font-family: 'Grandstander', cursive;
    padding: 15px;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
}

.p-footer-gri{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    padding: 10px;
}

/*Icono*/
.i-the-end{
    font-size: 2.5rem;
    background-color:#ffffff;
    border-radius: 30%;
    padding: 10px;
    color: var(--rosadito);
}

.emoji-end{
    color: red;
}
